@model ChatUp.Models.UtilisateurModel


@{
    ViewBag.Title = "Inscrire";
}

@section Menu
{
    <li><a href="/"><i class="material-icons">perm_identity</i></a></li>
}

<h4>Fomulaire d'inscription</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="col s6">
            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="input-field col s3">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "validate" } })
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>

                <div class="input-field col s3">
                    @Html.EditorFor(model => model.MotDePasse, new { htmlAttributes = new { @class = "validate" } })
                    @Html.LabelFor(model => model.MotDePasse, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.ValidationMessageFor(model => model.MotDePasse, "", new { @class = "text-danger" })
                </div>
            </div>

            <p>@HttpContext.Current.User.Identity.Name</p>

            @if (!(bool)@ViewData["succes"])
            {
                <p>Il y a eu un problème lors de l'inscription.</p>
            }

            <button class="btn waves-effect waves-light" type="submit" name="action">
                Inscription
                <i class="material-icons right">send</i>
            </button>

        </div>
    </div>
}
