@model ChatUp.Models.SessionModel


@{
    ViewBag.Title = "Connexion";
}


@if (Model.Authentifie)
{
    <h3>
        Vous êtes déjà authentifié avec le login :
        @Model.Utilisateur.Email
    </h3>
    @Html.ActionLink("Voulez-vous vous déconnecter ?", "Deconnexion")
}
else
{
    <p>
        Veuillez vous authentifier :
    </p>
    using (Html.BeginForm())
    {
        <div>
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        <div>
            @Html.LabelFor(m => m.MotDePasse)
            @Html.PasswordFor(m => m.MotDePasse)
            @Html.ValidationMessageFor(m => m.MotDePasse)
        </div>
        <input type="submit" value="Se connecter" />
        <br />
        @Html.ActionLink("Créer un compte", "CreerCompte")
    }
}