@model ChatUp.Models.SessionModel

@{
    ViewBag.Title = "Connexion";
}

@section Menu
{
    @if ((bool)@ViewData["Authentifie"])
    {
        <li class="active"><a href="/"><i class="material-icons">perm_identity</i></a></li>
        <li><a href="#!"><i class="material-icons">contacts</i></a></li>
        <li><a href="#!"><i class="material-icons">question_answer</i></a></li>
        <li><a href="#!"><i class="material-icons">settings</i></a></li>
        <li>@Html.ActionLink("Deconnexion", "Deconnexion")<i class="material-icons">power_settings_new</i></li>
    }
    else
    {
        <li class="active"><a href="/"><i class="material-icons">perm_identity</i></a></li>
    }
}

@if ((bool)@ViewData["Authentifie"])
{
    <h3>
        Vous êtes déjà authentifié avec le login :
        @Model.Utilisateur.Email
    </h3>
    @Html.ActionLink("Deconnexion", "Deconnexion", "Utilisateur")
}
else
{
    <p>
        Veuillez vous authentifier :
    </p>
    using (Html.BeginForm())
    {
        <div class="container">
            <div class="col s6">
                <div class="row">
                    <div class="input-field col s3">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "validate" } })
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="input-field col s3">
                        @Html.EditorFor(model => model.MotDePasse, new { htmlAttributes = new { @class = "validate"} })
                        @Html.LabelFor(model => model.MotDePasse, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.ValidationMessageFor(model => model.MotDePasse, "", new { @class = "text-danger" })
                    </div>
                </div>


                <button class="btn waves-effect waves-light" type="submit" name="action">
                    Se connecter
                    <i class="material-icons right">send</i>
                </button>   
            </div>
        </div>
    }
}
