@model ChatUp.Models.GroupeModel

@{
    ViewBag.Title = "Details du groupe";
}

@section Menu
{
    @if ((bool)@ViewData["Authentifie"])
    {
        <li><a href="/"><i class="material-icons">perm_identity</i></a></li>
        <li><a href="@Url.Action("Profil","Utilisateur")"><i class="material-icons">contacts</i></a></li>
        <li class="active"><a href="@Url.Action("Index","Discussion")"><i class="material-icons">question_answer</i></a></li>
        <li><a href="#!"><i class="material-icons">settings</i></a></li>
        <li><a href=@Url.Action("Deconnexion","Utilisateur")><i class="material-icons">power_settings_new</i></a></li>
    }
    else
    {
        <li class="active"><a href="/"><i class="material-icons">perm_identity</i></a></li>
    }
}

<h2>Details</h2>

<div>
    <h4>GroupeModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdministrateurGroupe.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdministrateurGroupe.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomGroupe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomGroupe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageGroupe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageGroupe)
            
            
            @*@{ 
                System.Drawing.Image img =  ChatUp.Dal.Outils.ByteArrayToImage(Model.ImageGroupe);
            }*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvitationAutorisee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvitationAutorisee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreationGroupe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreationGroupe)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editer", "Edit", new { id = Model.IdGroupe }) |
    @Html.ActionLink("Retourner à la liste des groupes", "Index")
</p>

<br />

<div>
    @Html.Partial("AfficherMessages", new ChatUp.ViewModels.DiscussionViewModel { Groupe = Model })
</div>

<br />

<div>
    @Html.Partial("EnvoyerMessage")
</div>