<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Import css -->
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
</head>
@Html.Action("Index")
<body>
    <header>
        <nav class="top-nav">
            <div class="container">
                <div class="nav-wrapper"><a class="page-title">Chat - Up</a></div>
            </div>
        </nav>
        <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a></div>
        <ul id="nav-mobile" class="side-nav fixed">
            <li class="active"><a href="/"><i class="material-icons">perm_identity</i></a></li>
        </ul>
    </header>
    <main>
        <div class="container">
            @RenderBody()
        </div>
    </main>
    <!--Import jQuery before materialize.js-->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/materialize")
    @RenderSection("scripts", required: false)
    <script>
        $('.button-collapse').sideNav({
            menuWidth: 100, // Default is 240
            //edge: 'left', // Choose the horizontal origin
            //closeOnClick: false // Closes side-nav on <a> clicks, useful for Angular/Meteor
        }
        );
    </script>
</body>
</html>
