@model ChatUp.ViewModels.DiscussionViewModel

@Html.Action("Lister")

<div class="col s12 m6 l10" id="panneauDiscussion">
    <div class="card discussion">
        <div class="card-action center-align">
            @if (Model.Groupe.InvitationAutorisee || Model.Groupe.AdministrateurGroupe.Email == HttpContext.Current.User.Identity.Name)
            {
                <a href="#">Inviter membres</a>
            }

            <a href="#" class="right-align valign" id="lienpanneauLateral">Afficher informations</a>
            
            @if (Model.Groupe.AdministrateurGroupe.Email == HttpContext.Current.User.Identity.Name)
            {
                @Html.ActionLink("Editer le groupe", "Editer", new { id = Model.Groupe.IdGroupe })
                @Html.ActionLink("Supprimer Groupe", "Supprimer", new { id = Model.Groupe.IdGroupe })
            }
        </div>
    </div>

    <div class="chat scrollable discussion" id="listeMessages">
        @Html.Action("AfficherMessages", new { Groupe = Model.Groupe })
    </div>

    <div class="send_box pin-bottom discussion">
        @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()

            <div class="input-field">
                <i class="material-icons prefix">mode_edit</i>
                @Html.LabelFor(model => model.Message.Message)
                @Html.EditorFor(model => model.Message.Message, new { @class = "form-control materialize-textarea" })
            </div>
        }
    </div>
</div>

<div class="col s12 m4 l0 card" id="panneauLateral">
    <div class="card">
        <div class="card-content center-align" id="headerInformation">
            <a href="#!"><i class="material-icons small orange600">info_outline</i></a>
        </div>

        <div class="pannel-visible" id="bodyInformation">
            @Html.Action("Informations", new { id = Model.Groupe.IdGroupe })
        </div>
    </div>

    <div class="card">
        <div class="card-content center-align">
            <span class="center-align"><i class="material-icons small">contacts</i></span>
        </div>

        @Html.Action("ListerMembres", "Discussion", new { id = Model.Groupe.IdGroupe })
    </div>

    <div class="card">
        <div class="card-content center-align">
            <a href="#!"><i class="material-icons small">description</i></a>
        </div>

        <div class="card-panel">
            <div class="card-content center-align">
                <i class="tiny">Aucune pièce jointe...</i>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/chatup/chat.js")
