@model ChatUp.Models.GroupeModel

<ul class="collection">

    <li class="collection-item avatar">
        <a href="@Url.Action("DetailsAmis", "ProfilModels", new { id = Model.AdministrateurGroupe.Profil.ProfilId })">
            <img src="" alt="" class="circle" />
            <h6 class="title blue-text text-darken-2">
                @Html.DisplayFor(modelItem => Model.AdministrateurGroupe.Profil.Prenom)
                @Html.DisplayFor(modelItem => Model.AdministrateurGroupe.Profil.Nom)

                @if (Model.AdministrateurGroupe.Email == HttpContext.Current.User.Identity.Name)
                {
                    <i>(Vous)</i>
                }
            </h6>
        </a>

        <h6><i>Administrateur du groupe</i></h6>
    </li>

    @foreach (var item in Model.MembresGroupe)
    {
        <li class="collection-item avatar">
            <a href="@Url.Action("DetailsAmis", "ProfilModels", new { id = item.Profil.ProfilId })">
                <img src="" alt="" class="circle" />
                <h6 class="title blue-text text-darken-2">
                    @Html.DisplayFor(modelItem => item.Profil.Prenom)
                    @Html.DisplayFor(modelItem => item.Profil.Nom)

                    @if (item.Email == HttpContext.Current.User.Identity.Name)
                    {
                        <i>(Vous)</i>
                    }
                </h6>
                @if (Context.Request.Path.Contains("Editer"))
                {
                    <p>&lt;@item.Email&gt;</p>
                }
            </a>

            <h6>
                <i>@Html.Display(item.Email)</i>
                @if (Model.AdministrateurGroupe.Email == HttpContext.Current.User.Identity.Name)
                {
                    <a href="@Url.Action("ExclureMembre", "Discussion", new { idGroupe = Model.IdGroupe, idUtilisateur = item.Email })" class="red-text text-lighten-1">Exclure du groupe</a>
                }
            </h6>
        </li>
    }
</ul>
