@model IEnumerable<ChatUp.Models.GroupeModel>

<div class="col s12 m4 l2" id="listeGroupes">
    <ul class="collection menuGroupe">
        <li class="collection-item">
            <a href="@Url.Action("Creer", "Discussion")">
                <i class="material-icons">add</i>
                <span class="title">Créer un groupe</span>
            </a>
        </li>

        @foreach (var item in Model)
        {
            ChatUp.Models.MessageModel messageModel = new ChatUp.Models.MessageModel();

            string dernierMessage = "";

            if (item.ListeMessages.Count > 0)
            {
                List<ChatUp.Models.MessageModel> listeMessages = item.ListeMessages.ToList();
                messageModel = listeMessages[listeMessages.Count - 1];

                dernierMessage = messageModel.AuteurContenu.Profil.Prenom + ": " + messageModel.Message;

                if (messageModel.Message != null && messageModel.Message.Length > 20)
                {
                    dernierMessage = dernierMessage.Substring(0, 20) + "...";
                }
            }
            else
            {
                dernierMessage = "";
            }

            <li class="collection-item avatar">
                <a href="@Url.Action("DetailsAmis", "ProfilModels", new { id = item.IdGroupe })">
                    <img src="" alt="" class="circle" />
                    <h6 class="title">@Html.DisplayFor(modelItem => item.NomGroupe)</h6>
                </a>
                <table id="dernierMessage">
                    <tbody>
                        <tr>
                            <td>@dernierMessage</td>
                            <td class="right-align">
                                @if (dernierMessage != "")
                                {
                                    @messageModel.DateEnvoi.ToShortTimeString();
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </li>
        }
    </ul>
</div>