@model IEnumerable<ChatUp.Models.GroupeModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomGroupe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageGroupe)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomGroupe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageGroupe)
            </td>
            <td>
                @Html.ActionLink("Editer", "Editer", new { id = item.IdGroupe }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdGroupe }) |
                @Html.ActionLink("Supprimer", "Supprimer", new { id = item.IdGroupe })
            </td>
        </tr>
    }
</table>