@model ChatUp.Models.GroupeModel

@{
    ViewBag.Title = "Supprimer groupe";
}

@section Menu
{
    @if (Request.IsAuthenticated)
    {
        <li><a href="/"><i class="material-icons">perm_identity</i></a></li>
        <li><a href="@Url.Action("Details", "ProfilModels")"><i class="material-icons">contacts</i></a></li>
        <li class="active"><a href="@Url.Action("Index","Discussion")"><i class="material-icons">question_answer</i></a></li>
        <li><a href="#!"><i class="material-icons">settings</i></a></li>
        <li><a href=@Url.Action("Deconnexion","Utilisateur")><i class="material-icons">power_settings_new</i></a></li>
    }
    else
    {
        <li class="active"><a href="/"><i class="material-icons">perm_identity</i></a></li>
    }
}


<div class="row">
    @Html.Action("Lister")

    <div class="col s12 m8 l10">
        <div class="card">
            <div class="card-content">
                <div class="center-align">
                    <h4><b>@Model.NomGroupe</b></h4>
                    <h5>Êtes-vous sûr de vouloir supprimer ce groupe ?</h5>
                </div>

                <h4>Information sur le groupe: </h4>

                @Html.Action("Informations", new { id = Model.IdGroupe })
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="card-panel center-align">
                    <input type="submit" value="Supprimer" class="btn btn-default" />
                    <button type="button" value="Annuler" class="btn btn-default">
                        @Html.ActionLink("Retour", "Details", new { @class = "buttonLink" })
                    </button>
                </div>
            }
        </div>
    </div>
</div>
