@model ChatUp.Models.ProfilModel
@{
    ViewBag.Title = "Details Amis";
}

<div class="container">
    <div class="row">
        <div class="s12 m12">
            <div class="card">
                <div class="card-image">
                    <img src="">
                    <span class="card-title"></span>
                </div>
                <div class="card-content">
                    <a href="@Url.Action("EnvoyerMessagePrive", "Discussion", new {id = Model.ProfilId})"><i class="material-icons">mail outline</i></a>
                    <table>
                        <tbody>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Nom)</td>
                                <td>@Html.DisplayNameFor(model => model.Prenom)</td>
                                <td>@Html.DisplayNameFor(model => model.Anniversaire)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayFor(model => model.Nom)</td>
                                <td>@Html.DisplayFor(model => model.Prenom)</td>
                                <td>@Html.DisplayFor(model => model.Anniversaire)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

