@model ChatUp.Models.ProfilModel

@{
    ViewBag.Title = "Details";
}

@section Menu
{
    @if (Request.IsAuthenticated)
    {
        <li><a href="/"><i class="material-icons">perm_identity</i></a></li>
        <li class="active"><a href="@Url.Action("Details", "ProfilModels", new { id = Model.ProfilId})"><i class="material-icons">contacts</i></a></li>
        <li><a href="@Url.Action("Index","Discussion")"><i class="material-icons">question_answer</i></a></li>
        <li><a href="#!"><i class="material-icons">settings</i></a></li>
        <li><a href=@Url.Action("Deconnexion","Utilisateur")><i class="material-icons">power_settings_new</i></a></li>
    }
    else
    {
        <li class="active"><a href="/"><i class="material-icons">perm_identity</i></a></li>
    }
}

<h4>Mon profil</h4>

<div class="container">
    <div class="row">
        <div class="col s12 m12">
            <div class="card">
                <div class="card-image">
                    <img src="">
                    <span class="card-title">Image de profil</span>
                </div>
                <div class="card-content">
                    <table>
                        <tbody>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Nom)</td>
                                <td>@Html.DisplayNameFor(model => model.Prenom)</td>
                                <td>@Html.DisplayNameFor(model => model.Anniversaire)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayFor(model => model.Nom)</td>
                                <td>@Html.DisplayFor(model => model.Prenom)</td>
                                <td>@Html.DisplayFor(model => model.Anniversaire)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-action">
                    @Html.ActionLink("Editer mon profil", "Edit", new { id = Model.ProfilId })
                </div>
            </div>
        </div>
    </div>
</div>




